@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
/* font-family: 'PT Sans', sans-serif;
font-family: 'Righteous', cursive; */
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    width: 375px;
    Height: 667px
}

.loading-timer .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.loading-timer {
    background: #000000;
}

.loading-timer h1, p {
    color: white;
    font-weight: 400;
    margin: 6px 3px 0px 3px;
}

.loading-timer h1{
    font-size: 20px;
}

.loading-timer p{
    font-size: 14px;
}