@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
/* font-family: 'PT Sans', sans-serif;
font-family: 'Righteous', cursive; */
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    width: 375px;
    Height: 667px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loading-timer .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.loading-timer {
    background: #000000;
}

.loading-timer h1, p {
    color: white;
    font-weight: 500;
    margin: 6px 3px 0px 3px;
    letter-spacing: 0.1em;
}

.loading-timer h1{
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    
}

.loading-timer p{
    font-size: 14px;
}

.menu-btn {
    position: absolute;
    top:20px;
    left: 20px;
}

h1 {
    font-size: 20px;
    
}