@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
/* font-family: 'PT Sans', sans-serif;
font-family: 'Righteous', cursive; */
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid #000000;
}

.set-timer .timer-layout {
    flex-direction: row;
}

.timer-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-timer {
    font-weight: 700;
    font-size: 80px;
    margin:4rem;
    flex-direction: row;
}
.loading-timer .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loading-timer {
    background: #000000;
}

.loading-timer h1, p {
    color: white;
    font-weight: 500;
    margin: 6px 3px 0px 3px;
    letter-spacing: 0.1em;
}

.loading-timer h1{
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    font-family: 'Righteous', cursive;
}

.loading-timer p{
    font-size: 14px;
}

.menu-btn {
    position: absolute;
    top:20px;
    left: 20px;
}


h1 {
    font-size: 20px;  
}

.set-timer .wrapper p {
    font-size: 16px;
    color: #000000;
    margin-top: -70px;
    margin-bottom: 50px;
    position: absolute;
}


section {
    width:80%;
    margin-top: 0.5rem;
    margin-left: 5vw;
    height:35px;
    display: flex;
    align-items: center;
}



#intervals, #breaks {
border: 1.5px solid #222222;
border-radius: 3px;
height: 24px;
width: 24px;
border-radius: 3px;
}
.checkbox {
    position: relative;
}

.checkbox[type="checkbox"]:checked::after {
    content: url(../images/cross.png);
    position: absolute;

    bottom: 4%;
    right: 20%;
}

#intervals:checked, #breaks:checked{
    background-color: #000000;
    -webkit-appearance: none;
}

section label {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin: 15px;
}
 #start-timer {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
    padding:0.5rem 2.5rem;
    border-color: #222222;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 5rem;
 }

.menu-timer {
    background: linear-gradient(rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .6));
}
.menu-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 3rem;
}
.menu-links a {
    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    font-size: 20px;   
}

.alarm-timer {
    background-color: #222222;
}

.alarm-timer .wrapper {
    display: flex;
    flex-direction: column;
}

.alarm-pause-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 3rem;
}

.main-button {  
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    bottom: 3rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: none;
    opacity: 0.6;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
}

.black {
    color: #000000;
    border-color: #000000;
}
.icon-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
}
.inner-ring {
    width: 152px;
    height: 152px;
    background-color: rgba( 255, 255, 255, .04);
    position: absolute;
    border-radius: 55555px;
}

.outer-ring {
    width: 234px;
    height: 234px;
    background-color: rgba( 255, 255, 255, .03);
    position: absolute;
    border-radius: 55555px;
}

.outer-ring::before {
    content: "";
    width: 344px;
    height: 344px;
    background-color: rgba( 255, 255, 255, .02);
    position: absolute;
    border-radius: 55555px;
    top: -22%;
    left: -24%;
}

.outer-ring::after {
    content: "";
    width: 506px;
    height: 506px;
    background-color: rgba( 255, 255, 255, .02);
    position: absolute;
    border-radius: 55555px;
    top: -56%;
    left: -58%;
}

.pause-timer {
    background-color: #222222;
}